#bag{
    width:200px;
    height:500px;
    margin:0 auto;
    background:url(/img/bag.png) center no-repeat;
      background-size:80%;
  }
  #bag.bust{
    background:url(/img/bag-burst.png) center no-repeat;
    background-size:80%;
  }
  #bag-health{
    width:200px;
    border:2px solid black;
    margin:0 auto 20px auto;
  }
  #bag-health div{
    height:20px;
    background-color:#F28;
  }
  #controlls{
    width:200px;
    margin :0 auto;
  }
  
  button{
    
      background-color: red;
      border: none;
      font-size: 20px;
      color: black;
      padding: 10px;
      text-align: center;
  
  }